# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html
# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-specific.html
option_settings:
    - namespace: aws:elb:policies
      option_name: Stickiness Policy
      value: true
    # This doesn't have any effect as I think the blank URL from the GUI overrides anything we set here
    - namespace: aws:elasticbeanstalk:application
      option_name: Application Healthcheck URL
      value: /camunda/lib/require.jspp
    - namespace: aws:elasticbeanstalk:managedactions
      option_name: ManagedActionsEnabled
      value: true
    - namespace: aws:elasticbeanstalk:managedactions
      option_name: PreferredStartTime
      # Note this is UTC time (local time is 10PM Saturday)
      value: Sat:12:00
    - namespace: aws:elasticbeanstalk:managedactions:platformupdate
      option_name: UpdateLevel
      value: minor
    - namespace: aws:elasticbeanstalk:managedactions:platformupdate
      option_name: InstanceRefreshEnabled
      value: false
    # Tomcat options
    - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
      option_name: Xmx
      value: 256m
    - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
      option_name: Xms
      value: 128m
    - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
      option_name: JVM Options
      value: -XX:+UseConcMarkSweepGC -javaagent:/usr/share/tomcat8/newrelic/newrelic.jar
    - option_name: ap.env
      value: infra
    - option_name: newrelic.environment
      value: infra
    # Note: Changing the New Relic agent_enabled flag through the console only takes immediate effect for the java
    #       agent.  The linux agent requires the application to be re-deployed or the box to be rebuilt for this to take
    #       effect.
    - option_name: newrelic.config.agent_enabled
      value: true
    - option_name: newrelic.config.license_key
      value: changemebutimustbeexactly40charactersnow
