# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html
# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-specific.html
option_settings:
    - namespace: aws:elb:policies
      option_name: Stickiness Policy
      value: true
    # This doesn't have any effect as I think the blank URL from the GUI overrides anything we set here
    - namespace: aws:elasticbeanstalk:application
      option_name: Application Healthcheck URL
      value: /camunda/lib/require.js
    - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
      option_name: Xmx
      value: 256m
    - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
      option_name: Xms
      value: 128m
    - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
      option_name: JVM Options
      value: -XX:+UseConcMarkSweepGC
    - option_name: ap.env
      value: infra
