# Copy the Elastic Beanstalk environment properties to linux environment variables

files:
  "/tmp/extractEnvironment.py" :
    mode: "000755"
    owner: root
    group: root
    content: |
      import json,sys;
      obj=json.load(sys.stdin);
      f = open('/tmp/eb_env.sh', 'w');
      f.write('\n'.join(map(lambda x: 'export ' + x[0].upper().replace('.', '_') + '="' + x[1] +'"', obj.iteritems())));
      f.write('\nexport TOMCAT_CONF=/etc/tomcat8\n');
      f.write('\nexport TOMCAT_HOME=/usr/share/tomcat8\n');
commands:
    01-extract-ebextensions:
        command: "unzip -o $(/opt/elasticbeanstalk/bin/get-config container -k source_bundle) .ebextensions/*  -d /tmp"
    02-generate-environment-from-eb-config:
        command: "/opt/elasticbeanstalk/bin/get-config environment ; /opt/elasticbeanstalk/bin/get-config optionsettings ;rm /tmp/eb_env.sh ; /opt/elasticbeanstalk/bin/get-config environment | python /tmp/extractEnvironment.py"
    03-generate-environment-make-executable:
        command: "chmod +x /tmp/eb_env.sh"
    04-check-environment:
        command: "source /tmp/eb_env.sh ; echo Checking environment ; cat /tmp/eb_env.sh ; printf '\n'; echo environment=$AP_ENV"
