# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html
packages:
    yum:
        newrelic-sysmond: []
    rpm:
        newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
commands:
    # Note: You need to include the new relic dependency in the pom and configure the maven-dependency-plugin to
    #       place the new relic jar file in the .ebextensions directory
    01-copy-newrelic:
        command: "source /tmp/eb_env.sh ; cp -R /tmp/.ebextensions/tomcat/newrelic $TOMCAT_HOME"
    02-set-license-key:
        command: "source /tmp/eb_env.sh ; echo New Relic license key $NEWRELIC_CONFIG_LICENSE_KEY ; nrsysmond-config --set license_key=$NEWRELIC_CONFIG_LICENSE_KEY"
    03-set-host-name:
        command: "echo New Relic hostname $HOSTNAME ; echo hostname=$HOSTNAME >> /etc/newrelic/nrsysmond.cfg"
    04-start-newrelic-sysmond:
        command: "source /tmp/eb_env.sh ; if [ \"$NEWRELIC_CONFIG_AGENT_ENABLED\" == \"true\" ]; then echo Starting newrelic-sysmond; /etc/init.d/newrelic-sysmond start; else echo Stopping newrelic-sysmond; /etc/init.d/newrelic-sysmond stop; fi"
