packages:
    rpm:
        SumoCollector: https://collectors.sumologic.com/rest/download/rpm/64

services:
    sysvinit:
        collector:
            enabled: true
            ensureRunning: true
            commands:
                - 20-set-sumo-sources-environment

files:
    "/opt/SumoCollector/config/user.properties.template":
        mode: "000755"
        owner: root
        group: root
        content: |
            name=Camunda_#{ap.env}
            sources=/etc/sumo_sources.json
            ephemeral=true
            accessid=#{sumo.accessid}
            accesskey=#{sumo.accesskey}

    "/etc/sumo_sources.json.template":
        mode: "000755"
        owner: root
        group: root
        content: |
            {
                "api.version": "v1",
                "collector": {
                    "targetCpu": 30
                },
                "sources": [
                    {
                        "name": "AppEvt_eb-activity",
                        "category": "IDT/ITServices/Tomcat/Camunda/#{ap.env}/AppEvt_eb-activity",
                        "description": "AWS Elastic Beanstalk activity log for the Camunda #{ap.env} environment",
                        "automaticDateParsing": false,
                        "multilineProcessingEnabled": true,
                        "useAutolineMatching": true,
                        "forceTimeZone": false,
                        "encoding": "UTF-8",
                        "sourceType": "LocalFile",
                        "pathExpression": "/var/log/eb-activity.log"
                    },
                    {
                        "name": "AppEvt_Catalina",
                        "category": "IDT/ITServices/Tomcat/Camunda/#{ap.env}/AppEvt_Catalina",
                        "description": "Tomcat log for the Camunda #{ap.env} environment",
                        "automaticDateParsing": false,
                        "multilineProcessingEnabled": true,
                        "useAutolineMatching": true,
                        "forceTimeZone": false,
                        "encoding": "UTF-8",
                        "sourceType": "LocalFile",
                        "pathExpression": "/var/log/tomcat8/catalina.out"
                    }
                ]
            }

commands:
    10-set-user-properties-environment:
        command: "source /tmp/eb_env.sh ; sed -e 's/#{ap.env}/'\"${AP_ENV^^}\"'/g; s/#{sumo.accessid}/'\"$SUMO_ACCESSID\"'/g; s/#{sumo.accesskey}/'\"$SUMO_ACCESSKEY\"'/g' /opt/SumoCollector/config/user.properties.template > /opt/SumoCollector/config/user.properties"
    20-set-sumo-sources-environment:
        command: "source /tmp/eb_env.sh ; sed -e 's/#{ap.env}/'\"${AP_ENV^^}\"'/g' /etc/sumo_sources.json.template > /etc/sumo_sources.json"
    30-check-user-properties:
        command: "cat /opt/SumoCollector/config/user.properties"
    40-check-sumo-sources:
        command: "cat /etc/sumo_sources.json"
