commands:
    01-configure-tomcat-generate-server-xml:
        command: "source /tmp/eb_env.sh ; cp -n $TOMCAT_CONF/server.xml $TOMCAT_CONF/server.xml.orig ; xsltproc -o /tmp/server.xml /tmp/.ebextensions/tomcat/conf/update-server.xsl $TOMCAT_CONF/server.xml.orig"
    02-configure-tomcat-copy-server-xml:
        command: "source /tmp/eb_env.sh ; cp /tmp/server.xml $TOMCAT_CONF/server.xml"
    03-configure-tomcat-copy-bpm-platform-xml:
        command: "source /tmp/eb_env.sh ; cp /tmp/.ebextensions/tomcat/conf/bpm-platform.xml $TOMCAT_HOME/conf"
    04-configure-tomcat-copy-lib:
        command: "source /tmp/eb_env.sh ; cp /tmp/.ebextensions/tomcat/lib/* $TOMCAT_HOME/lib"
